<form autocomplete="off" class="form">
    <div class="control">
      <h1>Registrierung</h1>
    </div>
    <div class="control block-cube block-input">
      <input name="email" placeholder="E-Mail" type="email" />
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
    </div>
    <div class="control block-cube block-input">
      <input name="password" placeholder="Passwort" type="password" />
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
    </div>
    <button class="btn block-cube block-cube-hover" type="button">
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
      <div class="text">Registrieren</div>
    </button>
    <div class="links">
      <a href="login">Anmeldung</a>
    </div>
  </form>
  