<app-toolbar></app-toolbar>

<form autocomplete="off" class="form">
  <div>
    <h1>Registrierung</h1>
  </div>

  <mat-form-field appearance="outline">
    <!-- <mat-label>Username</mat-label> -->
    <mat-select [(ngModel)]="team" [ngModelOptions]="{ standalone: true }">
      <mat-option *ngFor="let team of teams" [value]="team.id">{{
        team.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <!-- <mat-label>Passwort</mat-label> -->
    <input
      type="password"
      matInput
      [type]="hide ? 'password' : 'text'"
      placeholder="Passwort"
      required
      [(ngModel)]="password"
      [ngModelOptions]="{ standalone: true }"
    />
  </mat-form-field>

  <button mat-stroked-button (click)="register()">Registrieren</button>

  <div class="loading" *ngIf="registerstatus == 'Loading'">
    <mat-progress-spinner
      [color]="color"
      [mode]="mode"
      [value]="value"
      [diameter]="diameter"
    >
    </mat-progress-spinner>
  </div>

  <p *ngIf="registerstatus == 'Fail'">
    Registrierung fehlgeschlagen. Bitte versuchen sie es später noch einmal.
  </p>

  <p *ngIf="registerstatus == 'Error'">
    There was an error. Please contact an administrator.
  </p>

  <div class="links">
    <a routerLink="/login" routerLinkActive="active">Anmelden</a>
  </div>
</form>
