<form autocomplete="off" class="form">
  <div>
    <h1>Anmeldung</h1>
  </div>

  <mat-form-field appearance="outline">
    <!-- <mat-label>Username</mat-label> -->
    <input
      type="text"
      matInput
      placeholder="Username"
      required
      [(ngModel)]="username"
      [ngModelOptions]="{ standalone: true }"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <!-- <mat-label>Passwort</mat-label> -->
    <input
      type="password"
      matInput
      [type]="hide ? 'password' : 'text'"
      placeholder="Passwort"
      required
      [(ngModel)]="password"
      [ngModelOptions]="{ standalone: true }"
    />
  </mat-form-field>

  <button mat-stroked-button (click)="login()">Anmelden</button>

  <div class="loading" *ngIf="loginstatus == 'Loading'" >
    <mat-progress-spinner
      [color]="color"
      [mode]="mode"
      [value]="value"
      [diameter]="diameter"
    >
    </mat-progress-spinner>
  </div>
  <p *ngIf="loginstatus == 'Fail'">
    Login fehlgeschlagen. Bitte überprüfen Sie Ihre Anmeldedaten.
  </p>

  <div class="links">
    <a href="#">Passwort vergessen?</a>
    <a href="registration">Registrieren</a>
  </div>
</form>
