<form autocomplete="off" class="form">
  <div class="control">
    <h1>Anmeldung</h1>
  </div>
  <div class="control block-cube block-input">
    <input
      name="username"
      placeholder="Nutzername"
      type="text"
      [(ngModel)]="username"
    />
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
  </div>
  <div class="control block-cube block-input">
    <input
      name="password"
      placeholder="Passwort"
      type="password"
      [(ngModel)]="password"
    />
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
  </div>
  <button
    class="btn block-cube block-cube-hover"
    (click)="login()"
    type="button"
  >
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
    <div class="text">Anmelden</div>
  </button>
  <div class="links">
    <a href="#">Passwort vergessen?</a>
    <a href="registration">Registrieren</a>
  </div>
</form>
