.spacer {
  flex: 1 1 auto;
}

.toolbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1b1b1b;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.posts {
  margin-top: 64px;
  padding: 0 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post {
  margin-top: 10px;
  &:last-child {
    margin-bottom: 10px;
  }
}
