<div class="container">
  <mat-toolbar class="toolbar" color="primary">
    <h1>Styn</h1>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</div>

<div class="posts" *ngIf="completed == true">
  <app-post-small
    class="post"
    *ngFor="let post of posts; index as i; first as isFirst"
    [post]="post"
    [delete]="false"
  ></app-post-small>
</div>
