.container {
  margin-top: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 0 20px;
  @media (max-width: 500px) {
    font-size: 0.7rem;
  }
  .p {
    margin: 0;
    text-indent: 2em;
  }
  //   .author {
  //   }
  .image {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .creator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    input {
      margin-bottom: 20px;
    }
    p-rating {
      margin-bottom: 20px;
      margin-left: 46px;
    }
    button {
      width: 216px;
      height: 53px;
      margin-bottom: 20px;
    }
  }
  //   .comments {
  //   }
}
