<app-toolbar></app-toolbar>

<div class="container loaded" *ngIf="postCompleted == true">
  <div class="author">
    <h1>Autor*in: {{ post.author }}</h1>
    <!-- <p>{{ distance(post.distance) + " von dir Entfernt" }}</p> -->
  </div>

  <div class="image">
    <p-image [src]="api + post.images.slice(-1)[0].url" alt="alt text in current version not supported" width="100%" [preview]="true"></p-image>
    <p-rating [(ngModel)]="post.rating" [cancel]="false" [readonly]="true"></p-rating>
  </div>

  <div class="creator">
    <h2>Kommentar verfassen:</h2>
    <p>Kommentare dürfen nur aus max. 3 Emojis bestehen.</p>
    <input type="text" pInputText placeholder="Kommentar" [(ngModel)]="comment.comment"/>
    <p-rating [(ngModel)]="comment.rating" [cancel]="false"></p-rating>
    <button mat-stroked-button type="button" (click)="createComment()" [disabled]="commentCompleted">Kommentieren</button>
  </div>

  <div class="comments" *ngIf="commentsCompleted == true">
    <h2>Kommentare:</h2>
    <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
  </div>
</div>
