<app-toolbar></app-toolbar>

<div class="create-container">
  <div class="create" *ngIf="login == false">
    <h1>Nicht angemeldet!</h1>
    <p>Bitte melde dich an um einen wundervollen Stein zu posten</p>
    <button mat-stroked-button (click)="this.router.navigate(['/login'])">
      zum Login
    </button>
  </div>
  <div class="create" *ngIf="login == true">
    <h1>Stein posten</h1>
    <p>
      Bitte Poste nur STEINE! Etwas anderes zu Posten resultiert in einer
      Löschung des Posts sowie einem möglichen Bann. 
    </p>
    <p>
      Es werden nur Bilder im Querformat akzeptiert.
    </p>
    <div class="upload">
      <input type="file" accept="image/*" (change)="onUpload($event)">
      <p>Koordinaten manuell eingeben:</p>
      <p-inputSwitch [(ngModel)]="manualcoords" (onChange)="manualCoords()"></p-inputSwitch>
      <p-inputNumber [(ngModle)]="manualLat" [disabled]="!manualcoords"></p-inputNumber>
      <p-inputNumber [(ngModle)]="manualLng" [disabled]="!manualcoords"></p-inputNumber>
      <button mat-stroked-button [disabled]="!imageaccept || buttonpressed" (click)="createPost()"> POSTEN </button>
      <div class="loading" *ngIf="loading">
        <mat-progress-spinner
          [color]="color"
          [mode]="mode"
          [value]="value"
          [diameter]="diameter"
        >
        </mat-progress-spinner>
      </div>
    </div>
  </div>
</div>
