<app-toolbar></app-toolbar>

<div class="impressum-container">
  <div class="impressum">
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 TMG</p>
    <p>
      Styn Media GmbH<br />
      Stynstraße 69<br />
      1337 Mars
    </p>
    <p>
      <strong>Vertreten durch:</strong><br />
      Jason Larbig <br />
      Niklas Schmidt <br />
      Leon Bojanowski <br />
      Emira Suta
    </p>
    <p>
      <strong>Kontakt:</strong> <br />
      Telefon: 0420-6980085<br />
      E-Mail: kontakt@stynmedia.com
    </p>
  </div>
</div>
